<% if @playdate && @playdate.errors.any? %>
  <div class="error_explanation">
    <h2><%= t("errors.template.header", model: "Speler", count: @playdate.errors.count) %></h2>
    <p><%= t("errors.template.body") %></p>

    <ul>
      <% @playdate.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
<label for="playdate_day">Dag:</label>
<%= date_select "playdate", "day" %>
</p>
