<% content_for("page_title") do %>
Editing playdate
<% end %>

<%= start_form_tag :action => 'edit', :id => @playdate %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>
<%= button_to 'Destroy', { :action => 'destroy', :id => @playdate }, :confirm => 'Are you sure you want to destroy this playdate?' %>

<%= link_to 'Show', :action => 'show', :id => @playdate %> |
<%= link_to 'Back to list', :action => 'list' %>
