<% content_for("page_title") do %>Opruimen<% end %>
<div class="playdate-form">
  <fieldset>
    <legend>Weet je zeker dat je oude speeldagen wil opruimen?</legend>
    <% form_tag do -%>
    <p><%= submit_tag "Ja, ruim op" %></p>
    <p><%= link_to 'Nee, ga terug naar de lijst', :controller => 'playdates', :action => 'list' %></p>
    <% end -%>
  </fieldset>
</div>

