- content_for :page_title do
  Inloggen in Playdate
.playdate-form
  %fieldset
    %legend Vul hier je gebruikersnaam en wachtwoord in.
    = form_tag do
      %p
        %label{ for: 'name' } Naam:
        = text_field_tag :name, params[:name]
      %p
        %label{ for: 'password' } Wachtwoord:
        = password_field_tag :password, params[:password]
      %p= submit_tag 'Inloggen'
