body {
  font-family: sans-serif;
  background-color: #e00;
  color: #333;
}
div.wrapper {
  background-color: #fff;
  margin: 3em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
div.content {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0px;
}

h1 {
  font-size: 200%;
  background-color: #05b;
  color: #fff;
  padding: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.logout {
  font-size: 80%;
  text-align: right;
  margin: 0px;
  margin-right: 0.5em;
}

table.playdate-overview {
  border-collapse: collapse;
  margin-bottom: 0.5em;
}

/*.playdate-overview td.playdate.neutral,*/
.playdate-overview td.playdate,
.playdate-overview td.player,
.playdate-overview td.action {
  background-color: #ddd;
}
.playdate-overview td.playdate.best {
  background-color: #0e5;
}
.playdate-overview td.playdate.option {
  background-color: #ae5;
}
.playdate-overview td.playdate.bad {
  background-color: #f88;
}

.playdate-overview td.player.current,
.playdate-overview td.action.current,
.playdate-overview td.playdate.current {
  background-color: #ccc;
}
.playdate-overview td.best.current {
  background-color: #0d4;
}
.playdate-overview td.option.current {
  background-color: #9d4;
}
.playdate-overview td.bad.current {
  background-color: #e77;
}

.playdate-overview td.player {
  width: 8em;
  border-right: 1px solid #999;
  font-weight: bold;
}
.playdate-overview th {
  background-color: #444;
  color: #fff;
  padding: 0.2em;
  /* border-bottom: 1px solid #999;*/
}
.playdate-overview td.playdate {
  width: 5em;
  text-align: center;
}
.playdate-overview td.action a {
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.playdate-overview tr.summary th,
.playdate-overview tr.summary td {
  background-color: #05b;
  color: #fff;
  border-top: 1px solid #008;
}

th.candy {
  padding: 0px;
  background-color: #05b;
}

/* Below is from trestle */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

label {
  display: block;
  font-weight: bold;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
