<% for name in [:info, :warning, :error] %>
  <% if response.flash[name] %>
    <p class="<%= "#{name}-message message" %>" >
      <%= response.flash[name] %> 
      <% if request.xhr? %>
        <a href="#" onclick="Element.remove(this.parentNode); return false;">Close</a>
      <% end %>
    </p>
  <% end %>
<% end %>
