<% content_for("page_title") do %>
Listing players
<% end %>

<%= render_component :controller => '/players', :action => 'component', :params => params %>
<p>
<%= link_to 'Availabilities', :controller => 'availabilities', :action => 'list' %>
<%= link_to 'Playdates', :controller => 'playdates', :action => 'list' %>
<%= link_to 'Home', :controller => 'main', :action => 'index' %>
</p>
