<% content_for("page_title") do %>Log out<% end %>
<div class="playdate-form">
  <fieldset>
    <legend>Are you sure you want to log out?</legend>
    <%= start_form_tag %>
    <p><%= submit_tag "Yes, log out" %></p>
    <p><%= link_to 'No, go back to list', :controller => 'main', :action => 'index' %></p>
    <%= end_form_tag %>
  </fieldset>
</div>
