<h1>Log out</h1>
<div class="playdate-form">
  <fieldset>
    <legend>Are you sure you want to log out?</legend>
    <%= start_form_tag %>
    <p><%= submit_tag "Log out" %></p>
    <%= end_form_tag %>
  </fieldset>
</div>
