<%= error_messages_for 'availability' %>

<!--[form:availability]-->
<p><label for="availability_status">Status</label><br/>
<%= text_field 'availability', 'status'  %></p>
<!--[eoform:availability]-->

