<% content_for("page_title") do %>
New availability
<% end %>

<div class="content">
<%= start_form_tag :action => 'new' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

<%= link_to 'Back to list', :action => 'list' %>
</div>
