<% for column in Availability.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= h @availability.send(column.name) %>
</p>
<% end %>
<p><b>Player:</b>
<%=h @availability.player.full_name %></p>
<p><b>Playdate:</b>
<%=h @availability.playdate.day %></p>

<%= link_to 'Edit', :action => 'edit', :id => @availability %> |
<%= link_to 'Back to list', :action => 'index' %>
