<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Playdate! The Application - <%= controller.controller_name %>: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'playdate' %>
    <%= stylesheet_link_tag 'ajax_scaffold', :media => 'all' %>
    <!--
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'rico_corner' %>
    <%= javascript_include_tag 'ajax_scaffold' %>
    -->
  </head>
  <body>
    <div id="box" class="wrapper">
      <% if @current_user %>
      <p class="logout">Ingelogd als <%=h @current_user.full_name %>.
      <%= link_to 'Uitloggen', :controller => 'login', :action => 'logout' %></p>
      <% end %>

      <h1><%= yield :page_title %></h1>

      <div class="content">
        <%= render :partial => 'shared/flash' %>

        <%= yield %>
        <% if @current_user and @current_user.is_admin? %>
        <p>
        <%= link_to 'Speeldagen', :controller => 'playdates', :action => 'list' %>
        <%= link_to 'Beschikbaarheid', :controller => 'availabilities', :action => 'list' %>
        <%= link_to 'Spelers', :controller => 'players', :action => 'list' %>
        </p>
        <% end %>
      </div>
      <% if @current_user %>
      <p class="logout"><%= link_to 'Wachtwoord wijzigen', :controller => 'login', :action => 'edit' %></p>
      <% end %>
    </div>
    <script type="text/javascript">
      Rico.Corner.round('box', {color: '#fff', bgColor: '#e00', compact: false});
    </script>
  </body>
</html>
