<html>
  <head>
    <title>Playdate! The Application - <%= controller.controller_name %>: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'trestle' %>
  </head>
  <body>

    <p style="color: green"><%= flash[:notice] %></p>

    <%= @content_for_layout %>

    <% if @current_user and @current_user.is_admin? %>
    <p>
    <%= link_to 'Playdates', :controller => 'playdates', :action => 'list' %>
    <%= link_to 'Availabilities', :controller => 'availabilities', :action => 'list' %>
    <%= link_to 'Players', :controller => 'players', :action => 'list' %>
    </p>
    <% end %>
  </body>
</html>
