<html>
  <head>
    <title>Playdate! The Application - <%= controller.controller_name %>: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'playdate' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'rico_corner' %>
  </head>
  <body>
    <div id="box" class="wrapper">
      <%= @content_for_layout %>
    </div>
    <script type="text/javascript">
      Rico.Corner.round('box', {color: '#fff', bgColor: '#e00', compact: false});
    </script>
  </body>
</html>
