<% content_for :page_title do %>
  Speeldagen toevoegen
<% end %>

<div class="playdate-form">
  <fieldset>
    <legend>Speeldagen toevoegen?</legend>
    <%= form_tag action: 'create' do %>
      <p><%= submit_tag 'Jazeker!' %></p>
      <p><%= link_to 'Terug naar overzicht', root_path %></p>
    <% end -%>
  </fieldset>
</div>
