- content_for :page_title do
  Speeldagen toevoegen
.playdate-form
  %fieldset
    %legend Speeldagen toevoegen?
    = form_tag action: 'create' do
      %p= submit_tag 'Jazeker!'
      %p= link_to 'Terug naar overzicht', root_path
